body {
    height: 100vh;
    margin: 0;
}
#container {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#canvas {
    width:80%;
    height:80%;
    background-color: #fdb927; /* colorname: 'my sin' */
    background-color: #006bb6; /* colorname: 'my sin' */
    /* #006BB6 will be used as the primary text color */
}
